pipeline/subdiviser en fichier.json
{
	"name": "subdiviser en fichier",
	"properties": {
		"activities": [
			{
				"name": "Alimentation des listes des departements",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct(DepartementName) from [dbo].[DepartCible]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF OBJECT_ID('[dbo].[listedepatement]') IS NOT NULL TRUNCATE TABLE [dbo].[listedepatement]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DepartementName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "depatement",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Departement",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "listdepartement",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Recuperations des listes de depart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Alimentation des listes des departements",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct(DepartementName) from [dbo].[DepartCible]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "listdepartement",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Generation des csvs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Recuperations des listes de depart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Recuperations des listes de depart').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copie de chaque depart table vers un csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from [dbo].[DepartCible] where DepartementName = '@{item().DepartementName}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Departement",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "outputdepartement",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Depatment folder"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-09T12:41:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}